@use "../abstracts";


:root{
    --bg: #EEEEEE;
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(40%) saturate(2682%) hue-rotate(231deg) brightness(99%) contrast(92%);
    --header-bg:rgba(238, 238, 238, 1);
    --footer-bg-color: var(--header-bg-color);

    --top-act__group-bg: #fff;
    --top-act__group-shadow:rgba(237, 237, 246, 0.2);
    --top-act-separate: #ededf6;
    --top-act-avt-shadow:rgba(0, 0, 0, 0.08);

    
    @include abstracts.breakpoint(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;


    // Categery-item 
    --cate-item-bg: #eee;
    --cate-item__img-bg: #fff;

    // Filter-btn
    --filter-btn-bg: #fff;
    --filter-btn-color:#6C6C72;
    // Filter form
    --filter-bg: #fff;
    --filter-shadow: rgba(200, 200, 200, 0.40);
    // Col1
    --filter-form-slider-bg: #D2D1D6;
    --filter-form-slider-border: #ffb700;
    // Col2
    --filter-form-select-wrap-border: #D2D1D6;
--filter-form-tag-bg: #F8F8FB;
--filter-form-tag-color: #9E9DA8;
    --filter__col-border: #eee;
    --filter-form-search-color: #9E9DA8;
    --filter-form-search-border: #D2D1D6;


    // Like-btn
    --like-btn-shadow: rgba(124, 124, 124, 0.20)
    // Product-card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.20);
    --product-card__brand: #9E9DA8;

// Auth
--auth-content-bg: #fff;

}