$error-color: #ed4337;
.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }
    &__row {
        display: flex;
        gap: 30px;

        > * {
            flex: 1;
        }
    }
    &__group {
        margin-top: 30px;

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }
    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;

        padding: 0 12px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
   &--small {
            border-radius: 8px;
        }
        &:focus-within {
            border-color: #77dae6;
        }
    }
      &__text-area {
        height: 100px;
        padding: 12px;

        &-input {
            width: 100%;
            resize: none;
        }
    }

    &__text-input {
        height: 50px;

        &--small {
            height

    &__error {
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
        display: none;
    }

    &__input-icon-error {
        display: none;
        margin-left: 12px;
        animation: shake 0.5s;
    }
    &__input,
    &__text-area-input{
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        // &-icon {
        //     margin-left: 12px;
        // }

        &::placeholder {
            color: #d2d1d6;
        }
    }
    &__input {
        &-icon {
            margin-left: 12px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
        user-select: none;
        position: absolute;

        &-label {
            margin-left: 29px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
        }
    
        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1px solid #9e9da8;
        }

      
    }
    
    &__checkbox:has(:checked) {
        &::after {
            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 2px;
            top: 5px;
        }
        &::before {
            border-color: #ffb700;
            background: #ffb700;
        }
    
    }
    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45;
    }
    
    &--medium {
        margin-bottom: 20px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &--small {
        margin-bottom: 10px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }


    
    &__select-wrap {
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        padding: 5px 0;
        border-radius: 6px;
        border: 1px solid var(--form__select-wrap-border);
    }
    
    &__select {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        min-width: var(--width, 108px);
        height: 100%;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42; /* 142.857% */
        cursor: pointer;
    }
    &__select + &__select {
        border-left: 1px solid var(--filter__col-border);
    }
    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 20px;
    }
    &__tag {
        padding: 6px 12px;
        border-radius: 6px;
        background: var(--form__tag-bg);
        color: var(--form__tag-color);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43; /* 142.857% */
        transition: color 0.2s;
        &:hover {
            color: var(--text-color);
        }
    }}}
}
    
.d-none{
    display: none;
}
.hide{
}