.logo{
    display: flex;
    align-items: center;
    gap: 14px;

&__title{
    color:#1A162E;
    /* Bold 22 */
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.45; /* 145.455% */
}
}